// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: #f5f5f5 url('/images/line-tile.png') top left repeat;
}

body > footer {
  background: none;
  text-align: center;
  font-size: 14px;
}

body > header {
  background: inherit;

  hgroup {
    text-align: center;
    position: relative;
    margin: 0 auto;
    //left: -3.7em;
    //width: 22em;
  }

  h1 {
    font-weight: bold;
    font-size: 2.8em;
    margin-top: 0;
    padding-top: 0;

    a,
    a:visited {
      color: #222;
      text-shadow: rgba(0, 0, 0, 0.5) 0 0 8px;
    }
  }

  //h1::after {
  //  width: 155px;
  //  height: 138px;
  //  content: "";
  //  overflow: hidden;
  //  text-align: left;
  //  background-image: url('/images/logo/dino.png');
  //  background-position: 50% 50%;
  //  background-repeat: no-repeat;
  //  position: absolute;
  //  top: -0.15em;
  //  right: -0.8em;
  //  left: auto;
  //  background-size: 100%;
  //}

  h2 {
    letter-spacing: 2px;
    font-style: italic;
    color: #444;
    font-size: 0.9em;
  }

  h1,
  h2 {
    font-family: Helvetica, sans-serif;
  }
}

body > nav {
  padding-left: 40px;
}

#main {
  border: 1px solid #ddd;
}

// remove the top dotted border of pagination section
#content div.pagination {
  //background: none;
}
